<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="left">
                <h1>Grocery</h1>
                <h1>Mart</h1>
              </div>
              <div class="middle">
                <a href="../vegetables/index.html" >Vegetables</a>
                <a href="../fruits/index.html" class="active">Fruits</a>
                <a href="../dairy/index.html">Dairy</a>
                <a href="../bakery/index.html">Bakery</a>
            </div>
              <div class="right">
                <a href="../cart/index.html">
                  <img src="../../images/icons/shopping-cart.png" alt="cart" />
                </a> 
                <a href="../cart/order.html">
                    <span>Your Orders</span>
                  </a>   
            </div>
        </div>
        <div class="fruit-section">
            <h1>Fresh Fruits</h1>
            <div class="product-container" id="product-container">
                <!-- Product items add here -->
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
