<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vegetables</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
          <div class="left">
            <h1>Grocery</h1>
            <h1>Mart</h1>
          </div>
          <div class="middle">
            <a href="../vegetables/index.html" class="active">Vegetables</a>
            <a href="../fruits/index.html">Fruits</a>
            <a href="../dairy/index.html">Dairy</a>
            <a href="../bakery/index.html">Bakery</a>
        </div>
          <div class="right">
            <a href="../cart/index.html">
              <img src="../../images/icons/shopping-cart.png" alt="cart" />
            </a>
          
          </div>
        </div>
        <div class="vegetable-section">
          <h1>Vegetables</h1>
          <div class="product-container">
              <div class="product">
                  <img src="vegetable_image/CARROTS_resized.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">English Cucumber</h2>
                      <p class="product-price">$1.98 each</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <!-- Add more products here -->
              <div class="product">
                  <img src="vegetable_image/cabbage.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Red Cluster Tomatoes</h2>
                      <p class="product-price">$2.98 per cluster</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/CORN.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Raspberries</h2>
                      <p class="product-price">$3.49 per 170g</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/CORRIANDER.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">White Mushrooms</h2>
                      <p class="product-price">$2.67 per 227g</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/pappers.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/ONION_BAG.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/TOMATOES.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/cauliflower.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/ginger.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/eggplant.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/GARLIC.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/patatoes.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/randish.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/lemon.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
              <div class="product">
                  <img src="vegetable_image/sweet_patatoes.jpg" alt="Product Image" class="product-image">
                  <div class="product-info">
                      <h2 class="product-name">Yellow Bell Peppers</h2>
                      <p class="product-price">$2.99 per lb</p>
                      <div class="buttons">
                          <button class="add-to-cart">Add to Cart</button>
                          <button class="save">Save</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
        </div>

        <script src="js/main.js"></script>
</body>
</html>
