<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="left">
          <h1>Grocery</h1>
          <h1>Mart</h1>
        </div>
        <div class="middle">
          <a href="../vegetables/index.html">Vegetables</a>
          <a href="../fruits/index.html">Fruits</a>
          <a href="../dairy/index.html">Dairy</a>
          <a href="../bakery/index.html">Bakery</a>
        </div>
        <div class="right">
          <a href="../cart/index.html">
            <img src="../../images/icons/shopping-cart.png" alt="cart" />
          </a>
        </div>
      </div>
      <div class="mainContainer">
        <h1 id="title"></h1>
        <div class="cart" id="cart">
          <div class="checkout">
            <div class="bill">
              <h2>Total</h2>
              <span id="totalBill"></span>
            </div>
            <button>Checkout</button>
          </div>
        </div>
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>
</html>
