<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy-Section</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <a class="left" href="../../index.html">
                <h1>Grocery</h1>
                <h1>Mart</h1>
              </a>
              <div class="middle">
                <a href="../vegetables/index.html" >Vegetables</a>
                <a href="../fruits/index.html">Fruits</a>
                <a href="../dairy/index.html" class="active">Dairy</a>
                <a href="../bakery/index.html">Bakery</a>
            </div>
            <div class="right">
                <a href="../cart/index.html">
                  <img src="../../images/icons/shopping-cart.png" alt="cart" />
                </a> 
                <a href="../cart/order.html">
                    <span>Orders</span>
                  </a>   
            </div>
        </div>
        <div class="dairy-section">
            <h1>Dairy Products</h1>
            <div class="product-container" id="product-container">
                <!-- Product items add here -->
            </div>
        </div>
        <footer class="footer">
            <a class="left" href="./index.html">
              <h1>Grocery</h1>
              <h1>Mart</h1>
            </a>
            <div class="right">
              <a href="../vegetables/index.html">Vegetables</a>
              <a href="../fruits/index.html">Fruits</a>
              <a href="../dairy/index.html">Dairy</a>
              <a href="../bakery/index.html">Bakery</a>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="js/main.js"></script>
</body>
</html>
