<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dairy</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="left">
                <h1>Grocery</h1>
                <h1>Mart</h1>
            </div>
            <div class="middle">
                <a href="../vegetables/index.html">Vegetables</a>
                <a href="../fruits/index.html">Fruits</a>
                <a href="../dairy/index.html" class="active">Dairy</a>
                <a href="../bakery/index.html">Bakery</a>
            </div>
            <div class="right">
                <a href="../cart/index.html">
                    <img src="../../images/icons/shopping-cart.png" alt="cart" />
                </a>
                <a href="../cart/order.html">
                    <span>Your Orders</span>
                  </a>
            </div>
        </div>
        <div class="dairy-section">
            <h1>Dairy Products</h1>

            <div class="product-container">
                <div class="product">
                    <img src="dairy_images/MIlk1.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Sealtest Homogenized 3.25% Milk, 4 L bag</h2>
                        <p class="product-price">$6.89</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Chocolate Milk.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Natrel Fine-filtered 2% Milk, 2 L</h2>
                        <p class="product-price">$5.38</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Buttermilk.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Sealtest 1% Buttermilk, 1 L</h2>
                        <p class="product-price">$2.47</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/butter.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Gay Lea Salted Butter, 454 g, 1 lb</h2>
                        <p class="product-price">$4.87</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Butter Unsalted.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Great Value Unsalted Butter, 454 g</h2>
                        <p class="product-price">$5.48</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>


                <div class="product">
                    <img src="dairy_images/Paneer.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Brar's Malai Paneer, 375 g</h2>
                        <p class="product-price">$5.97</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Cheese.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Great Value Old Cheddar Cheese, 400 g</h2>
                        <p class="product-price">$4.44</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Cheese2.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Great Value Pizza Mozzarella Cheese, 400 g</h2>
                        <p class="product-price">$5.98</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Lactos free cheese.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Great Value Lactose Free Marble Cheddar Cheese, 400 g</h2>
                        <p class="product-price">$4.44</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/yogurt1.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Astro Original Plain Yogurt 2%, Balkan Style, 750 g</h2>
                        <p class="product-price">$3.28</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Greek Yogurt.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Liberté Greek 0% Yogurt, Plain, High Protein, 750 g, 750 g</h2>
                        <p class="product-price">$5.94</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Ghee.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">BRAR'S PURE DESI GHEE, 1600gm</h2>
                        <p class="product-price">$22.97</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/cream.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Sealtest 18% Table Cream, 1 L</h2>
                        <p class="product-price">$4.98</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Whipped Topping.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">Great Value Whipped Topping, 225 g</h2>
                        <p class="product-price">$3.48</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>

                <div class="product">
                    <img src="dairy_images/Eggs.png" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <h2 class="product-name">GoldEgg Golden D Vitamin D Enriched Large Eggs, 18 Count</h2>
                        <p class="product-price">$8.83</p>
                        <div class="quantity-selector">
                          <label for="quantity">Quantity:</label>
                          <input type="number" id="quantity" name="quantity" value="1" min="1" max="10">
                      </div>
                        <div class="buttons">
                            <button class="add-to-cart">Add to Cart</button>
                            <button class="save">Save</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>
