* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: forestgreen;
    color: white;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left h1 {
    font-size: 14px;
    cursor: pointer;
}

.left h1:nth-child(2){
    color: yellow;
}

.middle {
    display: flex;
    gap: 10px;
}

.middle a {
    text-decoration: none;
    color: white;
}

.right img {
    width: 25px;
    cursor: pointer;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1200px;
    padding: 20px;
    margin-bottom: 200px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border: 1px solid lightgray;
    border-radius: 8px;
}

.left {
    display: flex;
    align-items: center;
}

.right, .increment, .price, .bill {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mainButton {
    padding: 5px 10px;
}

.checkout {
    background-color: forestgreen;
    padding: 30px;
    border-radius: 8px;
    position: fixed;
    width: 100%;
    max-width: 1200px;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}

.checkout button {
  padding: 5px 10px;
  border: 1px solid yellow;
  border-radius: 8px;
  background-color: yellow;
  color: forestgreen;
  cursor: pointer;
}

.bill {
    color: white;
}

.form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 5px;
    width: 100%;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    outline: none;
    box-shadow: 0 0 3px 0 #007bff;
  }
  
  input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 5px;
    width: 100%;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 0.9rem;
    padding: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }

  
  
  @media (max-width: 600px) {
    .container {
      width: 100%;
    }
  }